<% if session[:message] %>
  <%= "<p>#{session.delete(:message)}</p>" %>
<% end %>

<ul>
  <% @filenames.each do |name| %>
  <li>
  <a href="<%= "/" + name %>"><%= name %></a>&nbsp;
  <a href="<%= '/' + name + '/edit' %>">edit</a>
  </li>
  <% end %>
</ul>